@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap");
:root {
  --hero-gap: 60px;
}
* {
  box-sizing: border-box;
}
h1 {
  font-family: "Lora", serif;
}
h1 {
  font-size: calc(0.5rem + 8vmin);
  font-weight: 600;
  font-style: italic;
}
p {
  font-size: calc(0.8rem + 1.25vmin);
  line-height: 1.65;
}
.parallax-wrapper {
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 10px;
}
.parallax-content {
  position: relative;
  width: 100%;
  height: calc(60vh - var(--hero-gap));
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transform: translateZ(1px);
  }
  .hero__title {
    color: white;
    z-index: 2;
    text-align: center;
    transform: translateZ(-2px) scale(1.2);

    p {
      margin-top: 0.5rem;
      font-size: calc(0.6rem + 0.75vmin);
    }
  }
}